In [6]:
import numpy as np
import pandas as pd
from itertools import combinations

In [7]:
actual_data = open("../input/actual_1.txt", mode = "r")
predicted_data = open("../input/predicted_1.txt", mode = "r")
window = open("../input/window_1.txt", mode = "r")

In [8]:
actual_data_pd = pd.read_csv("../input/actual_1.txt", delimiter="|", header=None)
predicted_data_pd = pd.read_csv("../input/predicted_1.txt", delimiter="|", header=None)
window_data_pd = pd.read_csv("../input/window_1.txt",  header=None)

In [9]:
window_data_pd[0][0]
max_actual = max(actual_data_pd[0])

In [10]:
max_actual

3

In [11]:
temp = window_data_pd[0][0]
comb = combinations(range(1, 4+1), 3)
for i in comb:
    print(i)

(1, 2, 3)
(1, 2, 4)
(1, 3, 4)
(2, 3, 4)

In [12]:
i = 1
while i != 4:
    print(i, i+1, i+2)
    i += 1

1 2 3
2 3 4
3 4 5

In [8]:
temp

2

In [9]:
list1 = [1, 2, 3, 4, 5, 6]
window_size = 3
for i in range(window_size):
    print(list1[i])

1
2
3

In [60]:
from itertools import islice
seq = [1, 2, 3, 4, 5, 6]
def window(seq, n=4):
    '''
    it = iter(seq)
    result = list()
#     result = tuple(islice(it, n))
#     print(seq[2:])
    result = seq[n:n+3]
    result = tuple(result)
#     print(result)
#     if len(result) == n:
#         yield result
    for elem in (seq[n-1:]):
        print(elem)
        print(result)
        result = result[1:] + (elem,)
        yield result
    '''
    result = tuple(seq[:n])
    yield result
    seq = seq[n:]
    for elem in seq:
        result = result[1:] + (elem,)
        yield result

for i in window(seq):
    print(i)

(1, 2, 3, 4)
(2, 3, 4, 5)
(3, 4, 5, 6)

In [66]:
def window_combinations(max_actual, window_size = 4):
    list1 = list()
#     for i in range(1, max_actual+1):
#         list1.append(i)
    list(map(lambda i: list1.append(i), range(1, max_actual+1)))
#     print(list1)
    it = iter(list1)
    combinations_with_increment_1 = tuple(list1[:window_size])
    yield combinations_with_increment_1
#     if len(combinations_with_increment_1) == window_size:
#         yield combinations_with_increment_1
    list1 = list1[window_size:]
    for i in list1:
        combinations_with_increment_1 = combinations_with_increment_1[1:] + (i,)
        yield combinations_with_increment_1
        
for i in window_combinations(6):
    print(i)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4)
(2, 3, 4, 5)
(3, 4, 5, 6)

In [19]:
actual_data = open("../input/actual.txt", mode = "r")
actual = list()
j = 0
for i in actual_data.readlines():
    temp = i.strip().split("|")
    actual.append(temp)
    j += 1
# print(actual)
print(int(actual[-1][0]))

1440

In [14]:
# actual_window
test, stock, amount = zip(*actual)
# for i in test:
#     print(i)

In [15]:
max(int(test))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

In [15]:
stock

('SLKWVA',
 'CMWTQH',
 'ATAYJP',
 'HVIWZR',
 'ATAYJP',
 'SLKWVA',
 'CMWTQH',
 'HVIWZR',
 'ATAYJP',
 'HVIWZR',
 'SLKWVA',
 'CMWTQH')

In [16]:
amount

('94.51',
 '81.27',
 '25.74',
 '22.81',
 '29.62',
 '81.87',
 '116.11',
 '22.15',
 '21.93',
 '22.24',
 '78.01',
 '113.63')

I need to call stocks with id = 1

In [17]:
actual_data_pd

    0       1       2
0   1  SLKWVA   94.51
1   1  CMWTQH   81.27
2   1  ATAYJP   25.74
3   1  HVIWZR   22.81
4   2  ATAYJP   29.62
5   2  SLKWVA   81.87
6   2  CMWTQH  116.11
7   2  HVIWZR   22.15
8   3  ATAYJP   21.93
9   3  HVIWZR   22.24
10  3  SLKWVA   78.01
11  3  CMWTQH  113.63

In [18]:
def callStockWithID(hour):
    print(actual_data_pd[actual_data_pd[0] == hour])
    print(predicted_data_pd[predicted_data_pd[0] == hour])
    actual_hour = actual_data_pd[actual_data_pd[0] == hour]
    predicted_hour = predicted_data_pd[predicted_data_pd[0] == hour]
    error = list()
    actual_hour = actual_hour.sort_values(by = 1).reset_index()
    predicted_hour = predicted_hour.sort_values(by = 1).reset_index() 
    print(actual_hour)
    print(predicted_hour)
    print(actual_hour[2])
    print(len(predicted_hour[2]))
    for i in range(1, max(len(actual_hour), len(predicted_hour))+1):
        error = actual_hour[2] - predicted_hour[2]
    print(error)
    avg_error = sum(error)/len(error)
    print(round(avg_error, 2))
        
    
callStockWithID(1)

   0       1      2
0  1  SLKWVA  94.51
1  1  CMWTQH  81.27
2  1  ATAYJP  25.74
3  1  HVIWZR  22.81
   0       1      2
0  1  ATAYJP  25.71
1  1  HVIWZR  22.80
2  1  SLKWVA  94.49
3  1  CMWTQH  81.22
   index  0       1      2
0      2  1  ATAYJP  25.74
1      1  1  CMWTQH  81.27
2      3  1  HVIWZR  22.81
3      0  1  SLKWVA  94.51
   index  0       1      2
0      0  1  ATAYJP  25.71
1      3  1  CMWTQH  81.22
2      1  1  HVIWZR  22.80
3      2  1  SLKWVA  94.49
0    25.74
1    81.27
2    22.81
3    94.51
Name: 2, dtype: float64
4
0    0.03
1    0.05
2    0.01
3    0.02
Name: 2, dtype: float64
0.03

In [19]:
predicted_data_pd

   0       1      2
0  1  ATAYJP  25.71
1  1  HVIWZR  22.80
2  1  SLKWVA  94.49
3  1  CMWTQH  81.22
4  2  ATAYJP  29.92
5  2  HVIWZR  22.06
6  3  ATAYJP  21.84
7  3  HVIWZR  22.36
8  3  SLKWVA  79.49

In [20]:
import math
test_error = 2.1050
# print('{:.2f}'.format(round((math.floor(test_error*100))/100.0)))
print(round(test_error, 3))

2.105

In [21]:
actual

[['1', 'SLKWVA', '94.51'],
 ['1', 'CMWTQH', '81.27'],
 ['1', 'ATAYJP', '25.74'],
 ['1', 'HVIWZR', '22.81'],
 ['2', 'ATAYJP', '29.62'],
 ['2', 'SLKWVA', '81.87'],
 ['2', 'CMWTQH', '116.11'],
 ['2', 'HVIWZR', '22.15'],
 ['3', 'ATAYJP', '21.93'],
 ['3', 'HVIWZR', '22.24'],
 ['3', 'SLKWVA', '78.01'],
 ['3', 'CMWTQH', '113.63']]

In [22]:
for i in actual:
    if i[0] == '1':
        print(i)

['1', 'SLKWVA', '94.51']
['1', 'CMWTQH', '81.27']
['1', 'ATAYJP', '25.74']
['1', 'HVIWZR', '22.81']

In [23]:
actual_data = open("../input/actual_1.txt", mode = "r")
actual = list()
for i in actual_data.readlines():
    temp = i.strip().split("|")
    actual.append(temp)
print(actual)
predicted_data = open("../input/predicted_1.txt", mode = "r")
predicted = list()
for i in predicted_data.readlines():
    temp = i.strip().split("|")
    predicted.append(temp)
print(predicted)

[['1', 'SLKWVA', '94.51'], ['1', 'CMWTQH', '81.27'], ['1', 'ATAYJP', '25.74'], ['1', 'HVIWZR', '22.81'], ['2', 'ATAYJP', '29.62'], ['2', 'SLKWVA', '81.87'], ['2', 'CMWTQH', '116.11'], ['2', 'HVIWZR', '22.15'], ['3', 'ATAYJP', '21.93'], ['3', 'HVIWZR', '22.24'], ['3', 'SLKWVA', '78.01'], ['3', 'CMWTQH', '113.63']]
[['1', 'ATAYJP', '25.71'], ['1', 'HVIWZR', '22.80'], ['1', 'SLKWVA', '94.49'], ['1', 'CMWTQH', '81.22'], ['2', 'ATAYJP', '29.92'], ['2', 'HVIWZR', '22.06'], ['3', 'ATAYJP', '21.84'], ['3', 'HVIWZR', '22.36'], ['3', 'SLKWVA', '79.49']]

In [24]:
actual

[['1', 'SLKWVA', '94.51'],
 ['1', 'CMWTQH', '81.27'],
 ['1', 'ATAYJP', '25.74'],
 ['1', 'HVIWZR', '22.81'],
 ['2', 'ATAYJP', '29.62'],
 ['2', 'SLKWVA', '81.87'],
 ['2', 'CMWTQH', '116.11'],
 ['2', 'HVIWZR', '22.15'],
 ['3', 'ATAYJP', '21.93'],
 ['3', 'HVIWZR', '22.24'],
 ['3', 'SLKWVA', '78.01'],
 ['3', 'CMWTQH', '113.63']]

In [25]:
predicted

[['1', 'ATAYJP', '25.71'],
 ['1', 'HVIWZR', '22.80'],
 ['1', 'SLKWVA', '94.49'],
 ['1', 'CMWTQH', '81.22'],
 ['2', 'ATAYJP', '29.92'],
 ['2', 'HVIWZR', '22.06'],
 ['3', 'ATAYJP', '21.84'],
 ['3', 'HVIWZR', '22.36'],
 ['3', 'SLKWVA', '79.49']]

In [26]:
#for i in actual:
#    if i[0] == '1':
#        print(i)
actual = sorted(actual, key=lambda x: (x[0], x[1]))
predicted = sorted(predicted, key=lambda x: (x[0], x[1]))
print(actual)

new_pre = list(predicted)
print(new_pre)

[['1', 'ATAYJP', '25.74'], ['1', 'CMWTQH', '81.27'], ['1', 'HVIWZR', '22.81'], ['1', 'SLKWVA', '94.51'], ['2', 'ATAYJP', '29.62'], ['2', 'CMWTQH', '116.11'], ['2', 'HVIWZR', '22.15'], ['2', 'SLKWVA', '81.87'], ['3', 'ATAYJP', '21.93'], ['3', 'CMWTQH', '113.63'], ['3', 'HVIWZR', '22.24'], ['3', 'SLKWVA', '78.01']]
[['1', 'ATAYJP', '25.71'], ['1', 'CMWTQH', '81.22'], ['1', 'HVIWZR', '22.80'], ['1', 'SLKWVA', '94.49'], ['2', 'ATAYJP', '29.92'], ['2', 'HVIWZR', '22.06'], ['3', 'ATAYJP', '21.84'], ['3', 'HVIWZR', '22.36'], ['3', 'SLKWVA', '79.49']]

In [27]:
i = 0
for x in actual:
    print(x)
    if x[1] != new_pre[i][1]:
#         print(x)
#     else:
        new_pre.insert( i, [x[0], "no data present", "ignore"])
    i += 1

['1', 'ATAYJP', '25.74']
['1', 'CMWTQH', '81.27']
['1', 'HVIWZR', '22.81']
['1', 'SLKWVA', '94.51']
['2', 'ATAYJP', '29.62']
['2', 'CMWTQH', '116.11']
['2', 'HVIWZR', '22.15']
['2', 'SLKWVA', '81.87']
['3', 'ATAYJP', '21.93']
['3', 'CMWTQH', '113.63']
['3', 'HVIWZR', '22.24']
['3', 'SLKWVA', '78.01']

In [28]:
print(actual)
# print(new_pre)

[['1', 'ATAYJP', '25.74'], ['1', 'CMWTQH', '81.27'], ['1', 'HVIWZR', '22.81'], ['1', 'SLKWVA', '94.51'], ['2', 'ATAYJP', '29.62'], ['2', 'CMWTQH', '116.11'], ['2', 'HVIWZR', '22.15'], ['2', 'SLKWVA', '81.87'], ['3', 'ATAYJP', '21.93'], ['3', 'CMWTQH', '113.63'], ['3', 'HVIWZR', '22.24'], ['3', 'SLKWVA', '78.01']]

In [29]:
# error 
error_list = list()
for i in range(len(actual)):
    if new_pre[i][2] != 'ignore':
        print('{:.2f}'.format(round(abs(float(actual[i][2]) - float(new_pre[i][2])), 3)))

0.03
0.05
0.01
0.02
0.30
0.09
0.09
0.12
1.48

In [30]:
def findingErrorPerWindow(window):
    window = str(window)
    errorList = list()
    for i in range(len(actual)):
        if new_pre[i][2] != 'ignore' and actual[i][0] == window:
            errorList.append(('{:.2f}'.format(round(abs(float(actual[i][2]) - float(new_pre[i][2])), 3))))
#     print(sum(errorList))
    print(errorList)
    errorSum = 0
    errorListLength = len(errorList)
    for error in errorList:
        errorSum += float(error)
    return (errorSum, errorListLength)
    #     avgError = sum(errorList)/len(errorList)
#     return avgError
err1, err2 = findingErrorPerWindow(2)
print(err1)

['0.30', '0.09']
0.39

In [31]:
def window_combinations(max_actual, window_size = 2):
    list1 = list()
#     for i in range(1, max_actual+1):
#         list1.append(i)
    list(map(lambda i: list1.append(i), range(1, max_actual+1)))
    it = iter(list1)
    combinations_with_increment_1 = tuple(islice(it, window_size))
    yield combinations_with_increment_1
#     if len(combinations_with_increment_1) == window_size:
#         yield combinations_with_increment_1
    for i in it:
        combinations_with_increment_1 = combinations_with_increment_1[1:] + (i,)
        yield combinations_with_increment_1



for i in window_combinations(3):
    avgerrorSum = 0
    avgerrorListLength = 0
    firstElement = i[0]
    lastElement = i[-1]
    print(firstElement)
    print(lastElement)
    for j in i:
        errorSum, errorListLength = findingErrorPerWindow(j)
#         print(errorSum)
#         print(errorListLength)
        avgerrorSum += errorSum
        avgerrorListLength += errorListLength
#     print(avgerrorSum)
#     print(avgerrorListLength)
    avgValue = avgerrorSum/avgerrorListLength
    print(firstElement,"|",lastElement,"|",'{:.2f}'.format(round(avgValue, 3)))

1
2
['0.03', '0.05', '0.01', '0.02']
['0.30', '0.09']
1 | 2 | 0.08
2
3
['0.30', '0.09']
['0.09', '0.12', '1.48']
2 | 3 | 0.42

In [32]:
new_actual = list()
c = ('1', '2')
a = list()

c = ('1', '2')

k = str(c[0])
list(filter(lambda x: all(x[0] == i for i in c), actual))

[]

In [33]:
window_actual = list()
for i in actual:
    if i[0] in c:
        window_actual.append(i)
print(window_actual)

[['1', 'ATAYJP', '25.74'], ['1', 'CMWTQH', '81.27'], ['1', 'HVIWZR', '22.81'], ['1', 'SLKWVA', '94.51'], ['2', 'ATAYJP', '29.62'], ['2', 'CMWTQH', '116.11'], ['2', 'HVIWZR', '22.15'], ['2', 'SLKWVA', '81.87']]

In [3]:
with open("../input/actual_1.txt", mode = "r") as actual_data:
    actual = list()
    for i in actual_data:
        temp = i.strip().split("|")
        actual.append(temp)
    print(actual)
#         window_actual, stock_id, amount = zip(*actual)
#         max_actual = int(max(window_actual))

[['998', 'USFFRR', '300.10'], ['998', 'BDVJDC', '299.89'], ['998', 'NJFTAL', '281.94'], ['998', 'NYZXXA', '294.40'], ['998', 'FRYYPL', '295.95'], ['998', 'GDKJPI', '298.64'], ['998', 'RRVMLC', '301.99'], ['998', 'JEDAXP', '296.51'], ['999', 'EDMMCA', '19.59'], ['999', 'AMDDPW', '25.27'], ['999', 'YZSGPL', '24.62'], ['999', 'CCKENL', '21.81'], ['1000', 'EDMMCA', '31.01'], ['1000', 'AMDDPW', '23.08'], ['1000', 'YZSGPL', '24.21'], ['1000', 'CCKENL', '17.30'], ['1000', 'NELVVI', '28.56'], ['1000', 'LWZQMJ', '29.49'], ['1001', 'EDMMCA', '23.58'], ['1001', 'AMDDPW', '24.54'], ['1001', 'YZSGPL', '30.64'], ['1001', 'CCKENL', '23.23'], ['1001', 'NELVVI', '29.10'], ['1001', 'LWZQMJ', '27.48'], ['1001', 'QMQNMQ', '23.63']]